@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
* {
    overflow-x: hidden;
}

#gamebody {
  overflow: hidden;
}
body {
  min-height: 640px;
  background: #eee;
  color: #000;
  font-size: 12px;
  margin: 0;
}
.card,
#game_list {
  font-family: helvetica neue, helvetica, Arial, sans-serif;
  display: block;
}
h2,
h3,
h4 {
  font-size: 1.17em;
  margin: 0 0 0.25em;
}

div {
  overflow-x: hidden;
}

error {
  color: red;
}

#menubar {
  padding: 2px 4px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  border: 1px;
  margin: 5px;
}
#menubar_left {
  float: left;
}
#menubar_right {
  float: right;
}
#nickbox {
  border: 1px solid #000;
  display: inline;
  padding: 5px;
}
#canvas {
  height: 533px;
  overflow: none;
  position: relative;
  width: 100%;
}
#main {
  height: 506px;
  padding: 0.5em;
}
#welcome {
  padding: 1em;
}
#game_list {
  height: 100%;
  max-width: 33.3%;
  overflow: auto;
  color: #000000;
}
.gamelist_column {
  width: 50%;
  background-color: #fff;
  color: #000000;
}
.gamelist_lobby {
  float: left;
  width: 33.2%;
  background: #fff;
  border-radius: 0.25em;
  height: 175px;
  float: left;
  border: 1px solid #ccc;
  margin-left: 1px;
}
.gamelist_lobby_left {
  width: 77%;
  height: 100%;
  padding: 0.5em 1.5%;
  float: left;
}
.gamelist_lobby_right {
  width: 20%;
  height: 100%;
  float: right;
}
.gamelist_lobby_join {
  width: 100%;
  height: 75%;
  border: 1px solid #aaa;
  background: linear-gradient(#fff, #ddd) #ddd;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  white-space: normal;
}
.gamelist_lobby_spectate {
  width: 100%;
  height: 25%;
  border: 1px solid #aaa;
  background: linear-gradient(#fff, #ddd) #ddd;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
}
.gamelist_lobby_status {
  font-family: 'Rubik', sans-serif;
  float: right;
  font-size: 1em;
}
.hide {
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 5px; /* Rounded corners */
  font-family: Arial, sans-serif; /* Use a sans-serif font */
  font-size: 16px; /* Use a larger font size */
}

.modal-content p {
  color: #333; /* Use a darker color for the text */
  font-weight: bold; /* Make the text bold */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #fff; /* Use a white background */
  border: 1px solid #888; /* Add a border */
  border-radius: 50%; /* Make the button circular */
  padding: 0 10px; /* Add some padding */
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; /* Add a pointer cursor on hover */
  background-color: #ddd; /* Use a lighter background color on hover */
}
